.app.light {
    --bg-color: #f4f4ff;
    --inverted-bg-color: #010163;
    --primary-color: #03154e;
    --secondary-color: #0552c6;
    --inverted-primary-color: #0b9c0b;
    --inverted-secondary-color: #06e706;
}
